@font-face {
    font-family: 'PTSansRegular';
    src: url('font/PT_Sans-Web-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PTSansCaptionBold';
    src: url('font/PT_Sans-Web-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PTSansNarrowRegular';
    src: url('font/PTN57F-webfont.woff');
    font-weight: normal;
    font-style: normal;
}
* {
    margin: 0;
    padding: 0;
    text-decoration:none;
    border:none;
}
body{
    margin:auto;
    background-color:#C4C3A2;
}
body.loggedIn div#beställning{
    height:21em;
}
body.loggedIn div#fulingen{
    height:25em;
}

div#runtomkring{
    width: 50em;
    margin: 3em auto;
}
div#main{
    width:44em;
    height:auto;
    margin:0em -2em;
    background-color:#E8D8A0;
    border-radius:1.5em 0em 1.5em 1.5em;
    box-shadow:0em 0em 3em rgba(0, 0, 0, 0.3);
    -webkit-border-radius:1.5em 0em 1.5em 1.5em;
    -webkit-box-shadow:0em 0em 4em rgba(0, 0, 0, 0.2);
}
div#bottom{
    padding:1em 1em 1em 1em;
    background-color:#82877A;
    border-radius:0em 0em 1.5em 1.5em;
    -webkit-border-radius:0em 0em 1.5em 1.5em;
}
div.barBorder{
    width:35.5em;
    background-color:transparent;
    border-width:0.2em;
    border-color:#C0BF9E;
    border-style:solid;
    border-radius:0.3em 0.3em 0.3em 0.3em;
    -webkit-border-radius:0.3em 0.3em 0.3em 0.3em;
    box-shadow:inset 0em 0em 0.3em rgba(0, 0, 0, 0.3);
}
div#indexBar{
    position:absolute;
    margin-top:-3em;
}
div.bar{
    background-color:#C4C3A2;
}
div#content{
    min-height:25em;
    padding:2em 4em 0em 4em;
    height:auto;
    overflow:hidden;
}
div#blogbox{
    background-color:#C2C1A0;
    padding:1em 1em 0em 1em;
    width:auto;
    height:auto;
    float:left;
    text-align:center;
    box-shadow:2px 2px 8px rgba(0, 0, 0, 0.2);
    border-radius:0.5em;
    -webkit-box-shadow:2px 2px 8px rgba(0, 0, 0, 0.25);
    -webkit-border-radius:0.5em;
}
div#beställning{
    margin: 0em -2em;
    background-color:#E8D8A0;
    text-align:right;
    float: right;
    position:relative;
    padding: 2em 2em 1em 0em;
    width: 8em;
    height:12em;
    border-radius:0em 1.5em 1.5em 0em;
    box-shadow:2px 2px 30px rgba(0, 0, 0, 0.3);
    -webkit-border-radius:0em 1.5em 1.5em 0em;
    -webkit-box-shadow:2px 2px 40px rgba(0, 0, 0, 0.25);
}
div#beställning > h3{
    line-height: 1.3em;
}

div#fulingen{
    position:absolute;
    float: right;
    background-color:#E8D8A0;
    margin: 0em 40em;
    width: 2em;
    height:23em;
}

p{
    font-family: Verdana, Arial, sans-serif;
    font-size: 1em;
    color:#33302B;
    line-height:1.5;
    text-shadow: -1px 1px 7px rgba(196, 195, 162, 0.5);
    margin: 1em 0em 3em 0em;
}
b{
    font-family: 'PTSansCaptionBold', Verdana, Arial, sans-serif;
    font-size: 1em;
    color:#33302B;
    line-height:1.5;
    text-shadow: -1px 1px 7px rgba(196, 195, 162, 0.5);
    margin: 1em 0em 3em 0em;
}

a{
    color:#7D1616;
    clear:both;
    font-weight:bold;
    text-decoration:none;
}
a:hover{
    color:#8D2626;
}

h1{
    line-height:1.2em;
    clear:both;
    font-family: Verdana,  sans-serif;
    font-size:3em;
    color: #EB4114;
    margin-top:0.2em;
    text-shadow:  -1px -1px 0px rgba(0,0,0, 0.3), -1px 1px 8px rgba(0, 0, 0, 0.4);
}
h2{
    clear:both;
    font-family: 'PTSansRegular', Calibri, Verdana, sans-serif;
    font-size:1.8em;
    color: #EB4114;
    margin: 0.2em 0em 0.5em 0em;
    text-shadow: -1px -1px 0px rgba(0,0,0, 0.2), -1px 1px 5px rgba(0, 0, 0, 0.3);
}
h2.timeTitle{
    margin-bottom:-0.5em;
}
h3{
    clear:both;
    font-family: 'PTSansRegular', Calibri, Verdana, sans-serif;
    font-size:1.3em;
    color: #EB4114;
    margin: 0.2em 0em 0.5em 0em;
    text-shadow: -1px 1px 4px rgba(0, 0, 0, 0.2);
    line-height:1.2em;
}
a:hover{
    text-shadow: 1px 1px #C4C3A2, 2px 2px #C4C3A2, 3px 3px #C4C3A2, 4px 4px #C4C3A2, 5px 5px #C4C3A2, 6px 6px #C4C3A2;
}
h4{
    font-family: 'PTSansRegular', Calibri, Verdana, sans-serif;
    font-size: 1em;
    color:#33302B;
    line-height:1.5;
    margin: 1em 0em 3em 0em;
    text-shadow: -1px 1px 2px rgba(0, 0, 0, 0.2);
}
h5{
    font-family: 'PTSansNarrowRegular', Calibri, Verdana, sans-serif;
    font-size:1em;
    color: #949372;
}
h5.timestamp{
    margin-left:0.2em;
    margin-top:-0.4em;
}
h5.bar{

    margin-left:0.6em;
    line-height:2em;
}
h6{
    clear:both;
    font-family:Calibri;
    font-size:1em;
    color: #7D1616;
    text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

label{
    font-family:'PTSansNarrowRegular';
    color:#82877A;
}

table{
    font-family: 'PTSansNarrowRegular', Calibri, Verdana, sans-serif;
    line-height:1.3em;
    font-size: 1em;
    color:#33302B;
    line-height:1.5;
    text-shadow: -1px 1px 7px rgba(196, 195, 162, 0.5);
}
table.left{
    float:left;
}
table.right{
    float:right;
}
td{
    padding-left: 2em;
}
td.noPadding{
    padding:0em;
}
td.date{
    padding:0em;
    width:11em;
    vertical-align:top;
}
tr{
    margin-bottom:2em;
}
